<h2>sign_up</h2>

<form action="/api/v1/admin/signup" method="post">
   <div>
      <label for="name">メンター名 / 名前</label>
      <input type="text" name="name" id="name">
   </div>
   <div>
      <label for="email">メール</label>
      <input type="text" name="email" id="email">
   </div>
   <div>
      <label for="password">パスワード</label>
      <input type="text" name="password" id="password">
   </div>
   <div>
      <input type="submit" value="登録">
   </div>
</form>
