<h2>sign_up</h2>

<form action="/api/v1/admin/signin" method="post">
   <div>
      <label for="email">メール</label>
      <input type="text" name="email" id="email">
   </div>
   <div>
      <label for="password">パスワード</label>
      <input type="password" name="password" id="password">
   </div>
   <div>
      <input type="submit" value="ログイン">
   </div>
</form>
